@model NewspaperSubscription.Models.Customer

@{
    ViewData["Title"] = "CustomerRegister";
}

    <div class="form-container">
        <h1 class="text-center text-capitalize text-light">Customer Register</h1>
        <form asp-action="CustomerRegister" class="auth-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Customername" class="control-label"></label>
                <input asp-for="Customername" class="form-control" placeholder="Name" />
                <span asp-validation-for="Customername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customeraddress" class="control-label"></label>
                <input asp-for="Customeraddress" class="form-control" placeholder="Address" />
                <span asp-validation-for="Customeraddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customercity" class="control-label"></label>
                <select asp-for="Customercity" class ="form-control" asp-items="ViewBag.Customercity"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Next" class="form-btn" />
            </div>
        </form>
    </div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
