<div class="container options-container">
    <a class="text-decoration-none text-black" asp-controller="Auth" asp-action="AdminLogin">
        <section class="card-option">
            Admin Login
        </section>
    </a>
    <a class="text-decoration-none text-black" asp-controller="Auth" asp-action="VendorRegister">
        <section class="card-option">
            Vendor Register
        </section>
    </a>
    <a class="text-decoration-none text-black" asp-controller="Auth" asp-action="VendorLogin">
        <section class="card-option">
            Vendor Login
        </section>
    </a>
    <a class="text-decoration-none text-black" asp-controller="Auth" asp-action="CustomerRegister">
        <section class="card-option">
            Customer Register
        </section>
    </a>
    <a class="text-decoration-none text-black" asp-controller="Auth" asp-action="CustomerLogin">
        <section class="card-option">
            Customer Login
        </section>
    </a>
</div>