@model IEnumerable<NewspaperSubscription.Models.Vendor>

@{
    ViewData["Title"] = "GetAllVendors";
}

<h1>GetAllVendors</h1>

<table class="table dark-background">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vendorname)
            </th>
            <th>
                Vendor City
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vendorname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorcityNavigation.Cityname)
            </td>
            <td>
                <a asp-action="VendorDetails" asp-route-id="@item.Vendorid">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
