<div class="container options-container">
    <a class="text-decoration-none text-black" asp-controller="Admin" asp-action="GetAllVendors">
        <section class="card-option">
            Get All Vendors
        </section>
    </a>
    <a class="text-decoration-none text-black" asp-controller="Admin" asp-action="GetAllCustomers">
        <section class="card-option">
            Get All Customers
        </section>
    </a>
    <a class="text-decoration-none text-black" asp-controller="Admin" asp-action="AddNewNewspaper">
        <section class="card-option">
            Add A New Newspaper
        </section>
    </a>
</div>