@model NewspaperSubscription.Models.Vendor

@{
    ViewData["Title"] = "VendorDetails";
}

<h1>VendorDetails</h1>

<div class="dark-background">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vendorname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vendorname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorcityNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorcityNavigation.Cityname)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
